/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star*/
/*This affects all html elements*/
* {
	border: 1px solid lightgrey;
}

/*Descendant Selector*/
/*This will select all the "a" tag inside an "li"*/
li a {
	color: red;
}

/*Adjacent Selector*/
/*This will select all the h4 and ul and give them a border*/
h4 + ul {
	border: 4px solid red;
}


/*Attribute Selector*/
/*All the "a" tags will be colored with blue*/
a[href="http://www.google.com"] {
	background: blue;
}

/*nth of type*/
/*We are selecting the every odd of "li"*/
li:nth-of-type(odd){
	background: purple;
}
/*We are selecting every third li*/
li:nth-of-type(3){
	background: purple;
}
