/*font family*/

p{
	font-family: "Arial";
}

h1{
	font-family: Verdana;
}


/*font size*/
	/*Alternative way to change font-size is "em"*/
	/*This will make it the double the parent elements*/
body{
	font-size: 10px;
}

h1{
	font-size: 5.0px;
}

p{
	font-size: 2.0em;
}
span {
	font-size: 2.0em;
}




