p{
/*Contents - Width and Heights*/
	/*This would change the width of the border*/
	/*In this case it would be 50% of the parent element (The body)*/
	/*We can also use "px"*/
width: 50%;
height: 100px;
/*Borders*/
border-color: blue;
border-style: solid;
border-width: 2px;

/*Paddings*/
padding: 10px;
	/*Padding also has many features*/
padding-left: 40px;
/*Margin*/
/*margin: 100px;*/	
	/*Also like padding has many features*/
/*margin-top: 500px;*/

	/*This is the same as margin(top,right,bottom,left) just like for border*/
/*margin:20px 40px 500px 100px;*/
	/*We can also set margin to be set "auto" from the left or right*/
	/*Same as margin(top,right,bottom,left)*/
margin: 0 auto 0 auto;

}
